<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <br>
<nav>&nbsp;&nbsp;
  <a routerLink="/movies" class="btn btn-info" ng-model="mig">Movies</a>&nbsp;&nbsp;
  <a routerLink="/tvShows" class="btn btn-info">Tv Shows</a>&nbsp;&nbsp;
  <a routerLink="/tvShows" class="btn btn-info">WatchList</a>&nbsp;&nbsp;
  <a routerLink="/actors" class="btn btn-info">Actors</a>&nbsp;&nbsp;
  <a routerLink="/dashboard"></a>
  <br>
</nav>
</div><br><br>
<!--<app-dashboard></app-dashboard>-->
<router-outlet></router-outlet>