<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Actor Name</th>
      <th>Average Vote </th>
      <th>Vote Count </th>
      <th>Actor Poster</th>
      <th>Actor Details </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let movie of movies.results">
      <td>{{movie.name}}</td>
      <td>{{movie.popularity}}</td>
      <td><img src="https://image.tmdb.org/t/p/w185/{{movie.profile_path}}" width="50" height="60"></td>
      
      <td><a [routerLink]="['/actors',movie.id]">Get Details</a></td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>